body {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: rgb(0, 0, 0);
    padding: 0;
  }
  ul.header li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  /* .content {
    background-color: rgb(32, 202, 214);
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  } */
  .active {
    background-color: #0099FF;
  }

  form {
    height: 500px;
    width: 500px;
    background-color:  rgb(32, 202, 214);
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 500px;
    margin: 0 auto; 
  }