* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url(./Resources/BlueBack.png);
  -webkit-backgrount-size: cover;
  background-size: cover;
  box-sizing: border-box; 
  background-position: center center fixed;  
  overflow: hidden;
  /* background-color: rgb(12, 59, 79);
  margin: 0; */
}

.mobile_body {
  background-image: url(./Resources/BlueBack.png);
  -webkit-backgrount-size: cover;
  background-size: cover;
  box-sizing: border-box; 
  background-position: center center fixed;  
}

h1,
h2,
h3,
h4,
ul,
li {
  font-family: Helvetica;
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 32ch;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  font-family: Helvetica;
}

h3 {
  font-size: 2rem;
  text-align: center;
  font-family: Helvetica;
}

h4 {
  font-size: 1rem;
  word-wrap: normal;
  white-space: wrap;
  text-overflow: ellipsis;
  word-break: initial;
  overflow-wrap: break-word;
}

.formtext {
  font-size: 6rem;
  font-family: Helvetica;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.header li {
  display: inline;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
}

.header {
  max-width: none;
  background-color: #002a40;
  padding: 0rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  opacity: 1;
  z-index: 5;
}

.header li a {
  font-family: Helvetica;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1.2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.25rem;
  display: inline-flex;
  z-index: 5;
}

.particles {
  box-sizing: border-box;
  position: "fixed";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
  z-index: -10;
}

.particles-canvas-el {
  position: "fixed";
  z-index: -999;
}



#header-dropdown {
  color: black;
  background-color: #00a8ff;
  margin-top: -0.6rem;
  margin-bottom: -0.5rem;
  z-index: 5;
}

#header-dropdown:hover {
  color: white;
}

div {
  position: relative;
}

.content {
  font-size: 4rem;
  padding: 2rem;
  margin-right: 1rem;
}

.content h2 {
  padding: 0;
  margin: 0;
  margin-right: 1rem;
}

.content li {
  margin-bottom: 1rem;
}

.active {
  background-color: #00a8ff;
}

.formFont {
  font-size: large;
  color: rgb(255, 255, 255);
  font-family: Tahoma, Geneva, sans-serif;
}

.formFontRow {
  font-size: large;
  color: rgb(255, 255, 255);
  font-family: Tahoma, Geneva, sans-serif;
  margin-right: 2rem;
}

.downSizeLogo{
  width: 23.5rem;
  height: 4.7rem;
}

.headerButton {
  margin-top: -21.5rem;
  margin-left: -1rem;
}

.BannerForm {
  height: 4.88rem;
  max-width: none;
  background-color: #002a40;
  justify-content: center;
  display: flex;
  z-index: 3;
}

.imageForm {
  justify-content: flex-start;
  margin-right: auto;
  display: flex;
  padding-left: 2rem;
  object-fit: cover;
  z-index: 5;
  background-color:#005480;
  opacity: 0.95;
}

.imageFormU {
  justify-content: flex-start;
  margin-right: auto;
  display: flex;
  width: 45px;
  height: 45px;
  object-fit: cover;
  z-index: 5;
  background-color:#002a40;
}

.VRText {
  color: white;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
}

.VRTextMobile {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 100px;
}

.banner {
  height: 1rem;
  max-width: 90rem;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  flex-direction: row;
  justify-content: flex-start;
}

.bannerAdmin {
  height: 5.0rem;
  width: 37.0rem;
  background-color:   rgb(255, 255, 255);
  color: rgb(5, 225, 221);
  border-radius: 1.0rem;
  font-size: 1.4rem;
  padding: 1.0rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.pageForm {
  display: flex;
  flex: 100%;
  max-width: none;
  flex-direction: row;
  justify-content: center;
  overflow: visible;
  z-index: 2;
}

.tokenBalances {
  height: fit-content;
  width: fit-content;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
  font-family: Tahoma, Geneva, sans-serif;
  opacity: 0.96;
  padding-left: 1rem;
  margin-right: 87%;
  position: absolute;
}

.testComponent {
  height: 60rem;
  width: 75rem;
  color: white;
  display: flex;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-weight: bold;
  font-size: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.96;
  z-index: 2;
  
}

.home {
  height: 40rem;
  width: 75rem;
  color: white;
  display: flex;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-weight: bold;
  font-size: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.96;
  z-index: 2;
  
}

.homeMobile {
  height: flex;
  width: 360px;
  color: white;
  display: flex;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-weight: bold;
  font-size: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.96;
  z-index: 2;
  
}

.card {
  max-width: 100%;
}
.card-text {
  word-wrap: break-word;
}

.card-name {
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-ac {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 17rem;
  margin-top: -2.8rem;
}


.card-status {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 37rem;
  margin-top: -2.75rem;
}

.card-description {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-idx {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.5rem;
}



.cardDescription h4 {
  font-size: 1rem;
  word-wrap: normal;
  white-space: wrap;
  text-overflow: ellipsis;
  word-break: initial;
  overflow-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
}

.cardDescription {
  display: flex;
  width: 50rem;
  height: auto;
  word-wrap: normal;
  margin-left: 0.5rem;
}

.image-asset {
  height: 120px;
  width: 120px;
}

.assetDashboardHeader {
  height: 4rem;
  width: 70rem;
  background-color: #002a40;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: Tahoma, Geneva, sans-serif;
}

.assetDashboardHeaderMobile {
  height: 4rem;
  width: 360px;
  background-color: #002a40;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: Tahoma, Geneva, sans-serif;
}

.assetDashboardFooter {
  display: flex;
  height: 2rem;
  width: 70rem;
  margin-top: -0.2rem;
  background-color: #002a40;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.assetDashboardFooterMobile {
  display: flex;
  height: 2rem;
  width: 360px;
  margin-top: -0.2rem;
  background-color: #002a40;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.assetDashboard {
  height: flex;
  max-height: 55rem;
  width: 70rem;
  background-color: #002a40;
  padding: 1rem;
  margin-top: -1rem;
  display: flex;
  opacity: 0.96;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
}

.assetDashboardMobile {
  height: flex;
  max-height: 55rem;
  width: 360px;
  background-color: #002a40;
  padding: 1rem;
  margin-top: -1rem;
  display: flex;
  opacity: 0.96;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
}

.assetImage {
  width: 115px;
  height: 115px;
  border-width: 3px;
  border-color: #002a40;
}

.assetImageMobile {
  width: 360px;
  height: 360px;
}

.assetImage {
  width: 115px;
  height: 115px;
  border-width: 3px;
  border-color: #002a40;
}

.assetImageSm {
  width: 40px;
  height: 40px;
}

.assetImage:hover {
  width: 115px;
  height: 115px;
}

.assetImageSelected {
  width: 230px;
  height: 230px;
  border: #002a40;
}

.imageSelector {
  display: flex;
  width: flex;
  max-width: 38rem;
  height: 85px;
  margin-left: 270px;
  margin-top: 4rem;
  overflow-x: auto;
  border: #002a40;
  border-style: solid;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  padding: 0.1rem;
}


.imageSelectorImage {
  width: 52px;
  height: 52px;
  margin-left: 0.3rem;
}

.imageSelectorMobile {
  display: flex;
  width: flex;
  max-width: 340px;
  height: 85px;
  overflow-x: auto;
  border: #002a40;
  border-style: solid;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  padding: 0.1rem;
}

.imageSelectorImageMobile {
  width: 52px;
  height: 52px;
  margin-left: 0.3rem;
}

.assetDashboardSelected {
  height: flex;
  max-height: 50rem;
  width: 68rem;
  background-color: #002a40;
  margin-top: -1rem;
  display: flex;
  opacity: 0.96;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  word-break: break-all;
}

.assetSelectedInfo {
  display: flex;
  width: 68rem;
  height: 200px;
}

.card-name-selected {
  margin-left: 260px;
  font-weight: bold;
  margin-top: -230px;
  font-size: 1.5rem;
}

.card-ac-selected {
  margin-left: 260px;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-status-selected {
  margin-left: 260px;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-idx-selected {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 1.7rem;
}

.cardSelectedIdxForm {
  display: flex;
  width: 50rem;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  background-color: #002a40;
  margin-left: 9rem;
  margin-top: 4rem;
}

.cardSearchIdxForm {
  display: flex;
  width: 50rem;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  background-color: #002a40;
  margin-left: 9rem;
  margin-top: 4rem;
}

.card-description-selected {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 0.3rem;
}

.cardDescription-selected {
  display: flex;
  width: 50rem;
  height: 16rem;
  background-color: #002a40;
  word-wrap: normal;
  margin-left: 9rem;
  overflow-y: auto;
  flex-direction: column;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
  padding-left: 0.5rem;
}

.cardDescription-mobile {
  display: flex;
  width: 360px;
  height: flex;
  max-height: 16rem;
  background-color: #002a40;
  word-wrap: normal;
  overflow-y: auto;
  flex-direction: column;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
}

.cardDescription-search {
  display: flex;
  width: 50rem;
  height: flex;
  max-height: 16rem;
  background-color: #002a40;
  word-wrap: normal;
  margin-left: 9rem;
  overflow-y: auto;
  flex-direction: column;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
  padding-left: 0.5rem;
}

.cardButton-selected {
  margin-top: -21rem;
  margin-left: 52rem;
  max-height: 4rem;
}

.assetSelectedRouter{
  display: flex;
  width: 68rem;
  height: 4.1rem;
  margin-top: -0.15rem;
  background-color: #005480;
  justify-content: space-evenly;
  border-radius: 0rem 0rem 0.3rem 0.3rem;
  position: absolute;
}

.headerSelected li {
  display: inline;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.headerSelected {
  background-color: #002a40;
  margin-top: 11.51rem;
  align-items: center;
  flex-direction: row;
}

.headerSelected li a {
  font-family: Helvetica;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.6rem;
}

.FormHeader {
  height: 4rem;
  width: 59rem;
  background-color: #002a40;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.96;
  font-weight: bold;
  font-size: x-largef;
}

.Form {
  height: flex;
  width: 59rem;
  background-color: #005480;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.96;
  margin-top: -0.5rem;
}

.FormHeaderMobile {
  height: 4rem;
  width: 360px;
  background-color: #002a40;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.96;
  font-weight: bold;
  font-size: x-largef;
}

.FormMobile {
  height: flex;
  width: 360px;
  background-color: #005480;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.96;
  margin-top: -0.5rem;
}

.assetSelectedResults {
  height: flex;
  width: 59rem;
  color: white;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 1.3rem; 
  display: flex;
  padding: 2rem;
  margin-top: -0.2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.assetSelectedContentHead {
  color: white;
  font-size: 1.3rem; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.assetSelectedContent {
  color: white;
  font-size: 1.3rem;
}

.Results {
  height: flex;
  width: 59rem;
  color: white;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 2.2rem;
  display: flex;
  padding: 2rem;
  margin-top: -0.2rem;
  justify-content: center;
  align-items: center;
}

.ResultLink {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.ResultsMobile {
  height: flex;
  width: 360px;
  color: white;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 2.2rem;
  display: flex;
  padding: 2rem;
  margin-top: -0.2rem;
  justify-content: center;
  align-items: center;
}

.errorResults {
  height: 7rem;
  width: 50rem;
  background-color: #002a40;
  color: white;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  margin-left: auto;
  margin-top: -0.2rem;
  margin-right: auto;
  margin-bottom: 10rem;
}

.btn {
  font-size: 1.5rem;
  height: 3rem;
  width: 13rem;
  align-items: center;
  margin-top: 22rem;
  border-radius: 1rem;
}

.btn3 {
  font-size: 1.5rem;
  height: 3rem;
  width: 12rem;
  align-items: center;
  border-radius: 1rem;
  margin-top: 20rem;
}

.btn2 {
  font-size: 1.5rem;
  height: 3rem;
  width: 30rem;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 20;
}

.buttonDisplayHome {
  margin-left: 48rem;
  margin-top: 0.5rem;
}

.buttonDisplay {
  margin-left: 42rem;
  margin-top: auto;
}
.buttonDisplayQR {
  margin-left: 42rem;
  margin-top: -4rem;
  position: absolute;
  z-index: 500;
}

.buttonDisplayQRResults {
  margin-left: 38rem;
  margin-top: 5rem;
  position: absolute;
  z-index: 500;
}

.buttonGroupDisplay {
  height: 5rem;
  margin-left: 30rem;
  margin-top: -20rem;
}

.buttonDisplay2 {
  margin-top: -21rem;
  margin-left: 136rem;
}

.checkBox {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 3rem;
  font-size: large;
  height: 1rem;
  width: 10rem;
}

.ownerButtonDisplay {
  margin-left: 42rem;
  margin-top: 0.5rem;
}
.ownerButtonDisplay2 {
  margin-left: 42rem;
  margin-top: -1rem;
}

.ownerButtonDisplay3 {
  margin-left: 21rem;
  margin-top: 0.5rem;
}
.ownerButtonDisplay4 {
  margin-left: 21rem;
  margin-top: auto;
}

.ownerButtonDisplay5 {
  margin-left: 42rem;
  margin-top: 0rem;
}

.Headertext {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: Tahoma, Geneva, sans-serif;
}

.escrowDetails {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: Tahoma, Geneva, sans-serif;
}

.LittleTextModify {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: small;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: 41.4rem;
}

.LittleTextImport {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: small;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: 41.5rem;
}

.LittleTextTransfer {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: small;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: -1.5rem;
}

.LittleTextNewRecord {
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: small;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: -27rem;
  margin-top: 0.3rem;
}

.LittleTextAddNote {
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: small;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: -28rem;
  margin-top: 0.3rem;
}

.LittleTextRecycle {
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: small;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: -31rem;
  margin-top: 0.3rem;
}

.userData {
  display: flex;
  margin-left: auto;
  background-color: #002a40;
  width: 70rem;
  border-radius: 1rem 0rem 0rem 0rem;
  height: 3rem;
  margin-top: auto;
  justify-content: center;
}

.iframe
{
    display: none;
}

.prufARCroppedFormMobile {
  margin-top: 60px;
  width: 280px;
  height: 130px;
}

.prufARCroppedForm {
  width: 320px;
  height: 149px;
}

.formSelect {
  height: 3rem;
  width: 15rem;
  max-height: 5rem;
}

.optgroup {
  max-height: 100px !important;
  font-size: 18px;
}

.QRreader {
  margin-top: -0.5rem;
}

.QRreader2 {
  margin-top: -4rem;
}

.imageButton {
        border: 0px transparent; 
        background-color: transparent; 
        object-fit: cover;
}

.imageButtonSm {
  border: 0px transparent; 
  background-color: transparent; 
  object-fit: cover;
}

.imageButtonU {
  border: 0px transparent; 
  border-radius: 50%;
  background-color: transparent; 
  object-fit: cover;
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin-top: 53rem;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.imageButtonU:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.assetImageButton {
  background-color: transparent; 
  object-fit: cover;
  border: #002a40;
  border-style: solid;
}



.assetImageButton:Hover {
  background-color: rgb(0, 168, 255, 0.25) ;
  position:relative;
  z-index:999;
}

.assetImageButtonSelected {
  background-color: transparent; 
  object-fit: cover;
  border: #002a40;
  border-style: solid;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
}

.assetImageButtonSelected:Hover {
  background-color: rgb(0, 168, 255, 0.25) ;
  position:relative;
  z-index:999;
}

.assetImageSelectorButton {
  border: 0px transparent; 
  background-color: transparent; 
  object-fit: cover;
  border: #002a40;
  border-style: solid;
  border-width: 1px;
}

.assetImageSelectorButtonMobile {
  border: 0px transparent; 
  background-color: transparent; 
  object-fit: cover;
  /* border: #002a40;
  border-style: solid;
  border-width: 1px; */
}

.assetImageSelectorButton:Hover {
  background-color: rgb(0, 168, 255, 0.25) ;
  position:relative;
  top:-2px;
  left:2px;
  /* width:500px; */
  height:auto;
  /* display:block; */
  z-index:999;
  border-style: dashed;
  border-width: 1px;
}

.mediaLink {
  display: flex;
  width: fit-content;
  height: 10rem;
  position: absolute;
  flex-direction: column;
  z-index: 999;
  margin-top: 40rem;
  /* margin-left: rem; */
  justify-content: space-between;
}

.mediaLinkMobile {
  display: flex;
  width: 250px;
  height: fit-content;
  margin-bottom: 20px;
  margin-top: -50px;
  justify-content: space-between;
}

.mediaLinkContent {
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: -webkit-transform .35s ease-in-out;
  transition:         transform .35s ease-in-out;
}

.mediaLinkContent:hover {
  color: #00a8ff;
  cursor: pointer;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.mediaLinkAD-home {
  display: flex;
  /* width: 15rem; */
  height: fit-content;
  position: absolute;
  margin-top: 0.7rem;
  margin-left: 5%;
  z-index: 999;
}

.mediaLinkContentAD-home {
  /* padding-left: 3rem; */
  border-radius: 50%;
  color: #00a8ff;
  -webkit-transition: -webkit-transform .35s ease-in-out;
  transition:         transform .35s ease-in-out;
}

.mediaLinkContentAD-home:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translatex(-5px);
  transform: translatex(-5px);
}

.mediaLinkAD-refresh {
  display: flex;
  /* width: 15rem; */
  height: fit-content;
  margin-left: 90%;
  position: absolute;
  margin-top: -4rem;
  /* justify-content: space-between; */
  z-index: 999;
}

.mediaLinkContentAD-refresh {
  /* padding-left: 3rem; */
  border-radius: 50%;
  color: #00a8ff;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.mediaLinkContentAD-refresh:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.mediaLink-back {
  display: flex;
  /* width: 15rem; */
  height: fit-content;
  margin-left: 93%;
  position: absolute;
  margin-top: -3.7rem;
  /* justify-content: space-between; */
  z-index: 999;
}

.mediaLinkContent-back {
  /* padding-left: 3rem; */
  border-radius: 50%;
  color: #00a8ff;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.mediaLinkContent-back:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}

.mediaLink-clearForm {
  display: flex;
  /* width: 15rem; */
  height: fit-content;
  margin-left: 90%;
  position: absolute;
  margin-top: -3.7rem;
  /* justify-content: space-between; */
  z-index: 999;
}

.mediaLinkContent-clearForm {
  /* padding-left: 3rem; */
  border-radius: 50%;
  color: #00a8ff;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.mediaLinkContent-clearForm:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.mediaLinkADS {
  display: flex;
  /* width: 15rem; */
  height: fit-content;
  margin-left: 63rem;
  position: absolute;
  margin-top: 1rem;
  /* justify-content: space-between; */
  z-index: 999;
}

.mediaLinkContentADS {
  /* padding-left: 3rem; */
  border-radius: 50%;
  color: white;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.mediaLinkContentADS:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.QR{
  display: flex;
  margin-left: 0.5rem;
}

.QRdisplay {
  display: flex;
  width: 17.5rem;
  height: 17.5rem;
  background-color: #ffffff;
  position: absolute;
  z-index: 999;
  opacity: 0.9;
  flex-direction: column;
  border-radius: 1rem 0rem 0rem 1rem;
  margin-left: 77.2%;
  margin-top: 6%;
  justify-content: center;
  /* object-fit: fill; */
}

.QRdisplay-footer {
  display: flex;
  height: 3rem;
  width: 10rem;
  margin-top: 21rem;
  margin-left: 89.9%;
  background-color: #ffffff;
  /* background-color: #005480; */
  border-radius: 0rem 0rem 1rem 1rem;
  position: absolute;
  z-index: 999;
  /* opacity: 0.9; */
  /* padding: 0.1rem; */
  justify-content: center;
  opacity: 0.9;
}

.mediaLinkQRdisplay {
  display: flex;
  width: 10rem;
  height: fit-content;
  /* margin-left: 63rem; */
  /* position: absolute; */
  /* margin-top: 1rem; */
  justify-content: space-evenly;
  z-index: 999;
}

.mediaLinkQRdisplayContent {
  /* padding-left: 3rem; */
  border-radius: 50%;
  color:#002a40;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.mediaLinkQRdisplayContent:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.hamburgerMenu {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-right: 94%;
  margin-top: 0.7rem;
}

.hamburgerMenu-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.hamburgerMenu-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.hamburgerDropdown {
  display: flex;
  height: 67rem;
  width: 10rem;
  position: absolute;
  background-color:#002a40;
  justify-content: center;
  flex-direction: row;
  z-index: 1000;
  margin-right: 94%;
  margin-top: 4.8rem;
  border-radius: 0rem 0rem 1rem 0rem;
  opacity: 0.9;

}

.hamburgerMenuLink {
  display: flex;
  position: fixed;
  background-color: transparent;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  margin-top: 2rem;
}

.hamburgerMenuLink-content-user {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.hamburgerMenuLink-content-user:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.hamburgerMenuLink-content-settings {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
  margin-top: 18rem;
  margin-left: -1.7rem;
  position: absolute;
}

.hamburgerMenuLink-content-settings:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.hamburgerDropdownUserInfoBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  /* opacity: 0.9; */
  margin-left: 4rem;
  padding-left: 1rem;
  margin-top: 4rem;
  font-size: 2rem;
}

.hamburgerDropdownUserInfoAddr {
  display: flex;
  width: 30rem;
  position: absolute;
  background-color: #002a40;
  color:white;
  justify-content: flex-start;
  flex-direction: row;
  /* opacity: 0.9; */
  z-index: 1000;
  font-size: 1.2rem;
  margin-left: 5rem;
  padding-left: 1rem;
  margin-top: 3rem;
  /* justify-content: center; */
  border-radius: 0rem 1rem 1rem 0rem;
}

.hamburgerDropdownUserInfoAddrContent {
  font-size: 1.6rem;
}

.hamburgerDropdownUserInfo {
  display: flex;
  width: 27rem;
  height: 22rem;
  color:white;
  background-color: #002a40;
  flex-direction: column;
  justify-content: flex-start;
  /* opacity: 0.9; */
  z-index: 1000;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border-radius: 0rem 0rem 1rem 0rem;
  margin-left: 37rem;
}

.hamburgerDropdownSettings {
  display: flex;
  width: 18rem;
  /* height: 20rem; */
  color:white;
  background-color: #002a40;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 0.5rem; */
  padding-top: 0.2rem;
  /* opacity: 0.9; */
  z-index: 1000;
  font-size: 1.2rem;
  margin-top: 10rem;
  margin-left: 28rem;
  border-radius: 0rem 1rem 1rem 0rem;
}

.currentMenuOption {
  display: flex;
  position: fixed;
  margin-right: 79%;
  margin-top: 1rem;
}

.currentMenuOptionContent {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.siteInfoBox {
  padding: 0.2rem;
  display: flex;
  width: 10rem;
  flex-direction: column;
  font-size: 0.73rem;
  color: white;
  position: absolute;
  /* justify-content: center; */
  align-items: center;
  /* margin-left: 1rem; */
  margin-top: 60rem;
}

.siteInfoBox h3 {
  font-size: 0.73rem;
}


.submitButton {
  display: flex;
  background-color: transparent;
  z-index: 1000;
  margin-left: 50rem;
  margin-top: 1rem;
}

.submitButtonHome {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 38rem;
  margin-top: -3.7rem;
}

.submitButton-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButton-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.submitButtonFMR-content {
  color: rgb(214, 0, 0);
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonFMR-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.submitButtonEA2 {
  display: flex;
  /* position: absolute; */
  background-color: transparent;
  z-index: 1000;
  margin-top: 1rem;
}

.submitButtonEA2-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonEA2-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.submitButtonNR {
  display: flex;
  /* position: absolute; */
  background-color: transparent;
  z-index: 1000;
  margin-left: 50rem;
  margin-top: -0.4rem;
}

.submitButtonNRCA {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 40rem;
  margin-top: -3.7rem;
}

.submitButtonNRAC {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 30rem;
  margin-top: 0.3rem;
}

.submitButtonNR-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonNR-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.submitButtonVRHMobile {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 315px;
  margin-top: -2.7rem;
}

.submitButtonVRH-content {
  color: rgb(255, 0, 0);
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonVRH-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.submitButtonVRH2 {
  display: flex;
  /* position: absolute; */
  background-color: transparent;
  z-index: 1000;
  margin-left: 53rem;
  /* margin-top: -0.9rem; */
}

.submitButtonVRH2-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonVRH2-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.submitButtonRRMobile {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 280px;
  margin-top: 0.2rem;
}

.submitButtonRR-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonRR-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.submitButtonRRQRMobile {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 310px;
  margin-top: 0.2rem;
}

.submitButtonRRQR-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonRRQR-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.submitButtonRRQR2 {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 54.5rem;
  margin-top: -4.7rem;
}

.submitButtonRRQR2-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonRRQR2-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.submitButtonRRQR3 {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 61rem;
  margin-top: 43rem;
}

.submitButtonRRQR3-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonRRQR3-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.submitButtonRRQR3Mobile {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 84%;
  margin-top: 2rem;
}

.submitButtonRRQR3-mobile {
  color: rgb(255, 255, 255);
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.submitButtonRRQR3-mobile:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.cardButton {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 62rem;
  margin-top: 7rem;
}

.cardButton-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.cardButton-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

.cardButton2 {
  display: flex;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
  margin-left: 62rem;
  margin-top: 45rem;
}

.cardButton2-content {
  color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition:         transform .5s ease-in-out;
}

.cardButton2-content:hover {
  color: #028ed4;
  cursor: pointer;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.loading:after {
  content: '  .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}


      /* ---------------------------------------------test------------------------------------------------ */

.PrintForm {
  display: flex;
  width: 1500px;
  height: 500px;
  background-color: #002a40;
  border-radius: 1rem;
}

.PrintFormContent {
  display: flex;
  width: 960px;
  height: 420px;
  background-color: #028ed4;
  border-radius: 1rem;
  margin-top: 4rem;
  margin-left: 4rem;
  opacity: 0.9;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem;
}


.QRPrint{
  display: flex;
  margin-left: 4rem;
  margin-top: 4rem;
}

.card-idx-print {
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 14rem;
  color: white;
  z-index: 999;
}
      
.card-name-print {
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  z-index: 999;
}

.card-ac-print {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 12rem;
  color: white;
  z-index: 999;
}