extends layout

block content

	h1 Update Asset Description

	// label(for='name') Name:
	// input#name.form-control(type='text', placeholder='first and last' name='name')

	form(method='POST' action='/description')

		div.form-group
			input(type='text', placeholder='Serial number' name='assetId')

		div.form-group
			input(type='text', placeholder='Name, ID, and secret' name='rightsHolder')

		div.form-group
			input(type='text', placeholder='New description' name='description')

		button(type="submit") Update