extends layout

block content

	h1 Update Asset Status

	// label(for='name') Name:
	// input#name.form-control(type='text', placeholder='first and last' name='name')

	form(method='POST' action='/status')

		div.form-group
			input(type='text', placeholder='Serial number' name='assetId')

		div.form-group
			input(type='text', placeholder='Name, ID, and secret' name='rightsHolder')

		div.form-group
			input(type='text', placeholder='New status' name='status')

		button(type="submit") Update