extends layout

block content

	h1 Force Modify Record - CAUTION

	// label(for='name') Name:
	// input#name.form-control(type='text', placeholder='first and last' name='name')

	form(method='POST' action='/force')

		div.form-group
			input(type='text', placeholder='Serial number' name='assetId')

		div.form-group
			input(type='text', placeholder='New Name, ID, and secret' name='new')

		button(type="submit") FORCE MOD