block content

	nav
		navbar-default
			h1 #{title}
			h4 Asset Provenance
	ul
		li
			a(href='/') Home
		li
			a(href='/new') New Record
		li
			a(href='/transfer') Transfer Rights
		li
			a(href='/retrieve') Retrieve Record
		li
			a(href='/count') Count Down
		li
			a(href='/status') Update Status
		li
			a(href='/description') Edit Description
		li
			a(href='/note') Add Note
		li
			a(href='/force') Force Modify Record			

