* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url(2.png);
  -webkit-backgrount-size: cover;
  background-size: cover;
  background-position: center center fixed;
  /* background-color: rgb(133, 133, 133);
    margin: 0; */
}
h1,
h2,
h3,
h4,
ul,
li {
  font-family: sans-serif;
}

p {
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  font-family: Helvetica;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

h4 {
  font-size: 1rem;
  text-align: center;
}

.formtext {
  font-size: 6rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.header li {
  display: inline;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.header {
  max-width: none;
  /* height: 90rem; */
  background-color: rgb(0, 0, 0);
  padding: 0rem;
  margin-top: 0.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  opacity: 1;
}

.header li a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 4rem;
  padding: 2rem;
  margin-right: 1rem;
}

.content h2 {
  padding: 0;
  margin: 0;
  margin-right: 1rem;
}

.content li {
  margin-bottom: 1rem;
}

.active {
  background-color: #5da2e9;
}

.formFont {
  font-size: large;
  color: rgb(255, 255, 255);
  font-family: Tahoma, Geneva, sans-serif;
}

.banner {
  height: 1rem;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  flex-direction: row;
  justify-content: flex-start;
}

.bannerAdmin {
  height: 5.0rem;
  width: 37.0rem;
  background-color:   rgb(255, 255, 255);
  color: rgb(5, 225, 221);
  border-radius: 1.0rem;
  font-size: 1.4rem;
  padding: 1.0rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.home {
  height: 15rem;
  width: 75rem;
  color: white;
  background-color: #206ab9;
  border-radius: 1rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.NRform {
  height: 52rem;
  width: 59rem;
  background-color: #206ab9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.VRform {
  height: 45rem;
  width: 59rem;
  background-color: #206ab9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.RRform {
  height: 30rem;
  width: 59rem;
  background-color: #206ab9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.TAform {
  height: 60rem;
  width: 59rem;
  background-color: #206ab9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.MRform {
  height: 45rem;
  width: 59rem;
  background-color: #206ab9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.DCform {
  height: 45rem;
  width: 59rem;
  background-color: #206ab9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.MDform {
  height: 45rem;
  width: 59rem;
  background-color: #206ab9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.ANform {
  height: 45rem;
  width: 59rem;
  background-color: #206ab9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.FMRform {
  height: 45rem;
  width: 59rem;
  background-color: #206ab9;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.BannerForm {
  height: 5rem;
  max-width: none;
  background-color: black;
  justify-content: center;
  display: flex;
  opacity: 0.95;
}

.imageForm {
  justify-content: flex-start;
  margin-right: auto;
  display: flex;
  padding-left: 2rem;
}

.ACForm{
  height: 37.5rem;
  width: 59rem;
  background-color: #be1a1a;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.AUForm{
  height: 37.5rem;
  width: 59rem;
  background-color: #be1a1a;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.SCForm{
  height: 64rem;
  width: 59rem;
  background-color: #be1a1a;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.OForm{
  height: 28rem;
  width: 59rem;
  background-color: #be1a1a;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.RFMCForm{
  height: 30rem;
  width: 59rem;
  background-color: #be1a1a;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.RRresults {
  height: 16rem;
  width: 59rem;
  color: white;
  background-color: black;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 1.3rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.RRresultserr {
  height: 3rem;
  width: 59rem;
  color: white;
  background-color: black;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 1.3rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.Results {
  height: 5rem;
  width: 59rem;
  color: white;
  background-color: black;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 2.2rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.errorResults {
  height: 7rem;
  width: 50rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  margin-left: 2.5rem;
  margin-top: 20rem;
}

.VRHresults {
  height: 5rem;
  width: 59rem;
  color: white;
  background-color: black;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 1.5rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 1.5rem;
  height: 3rem;
  width: 13rem;
  align-items: center;
  margin-top: 22rem;
  border-radius: 1rem;
}

.buttonDisplay {
  margin-left: 42rem;
  margin-top: -20rem;
}

.buttonDisplay2 {
  margin-top: -21rem;
  margin-left: 136rem;
}

.ownerButtonDisplay {
  margin-left: 40rem;
  margin-top: 5rem;
}
.ownerButtonDisplay2 {
  margin-left: 40rem;
  margin-top: auto;
}

.ownerButtonDisplay3 {
  margin-left: 21rem;
  margin-top: 5rem;
}
.ownerButtonDisplay4 {
  margin-left: 21rem;
  margin-top: auto;
}

.Headertext {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: Tahoma, Geneva, sans-serif;
}

.userData {
  display: flex;
  margin-left: auto;
  background-color: black;
  width: 70rem;
  border-radius: 1rem 0rem 0rem 0rem;
  height: 3rem;
  margin-top: auto;
  justify-content: center;
}
