   * {
    font-size: 62.5% ;
  }
  
  body {
    background-color: rgb(255, 255, 255);
    padding: 2.0rem;
    margin: 0;
  }
  h1, h2, h3, h4, p, ul, li {
    font-family: sans-serif;
  }
  h1 {
    font-size: 4.0rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.0rem;
  }
  h4 {
    font-size: 1.0rem;
  }

  .formtext {
    font-size: 6.0rem;
  }



  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;

  }
  ul.header {
    max-width: 15rem;
    background-color: rgb(0, 0, 0);
    padding: 0;
  }

  ul.header li a { 
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 2.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .content {
    font-size: 4.0rem;
    padding: 2.0rem;
    margin-right: 1.0rem;
  }
  .content h2 {
    padding: 0;
    margin: 0;
    margin-right: 1.0rem;
  }
  .content li {
    margin-bottom: 1.0rem;
  }
  .active {
    background-color: #0099FF;
  }

  .home {
    height: 7.0rem;
    background-color:   #0099FF;
    border-radius: 6.0rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.0rem;
    padding: 3.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 90.0rem;
    margin: 0 auto; 
  }

  .NRform {
    height: 65.0rem;
    width: 30.0rem;
    background-color:  rgb(5, 164, 161);
    border-radius: 6.0rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.0rem;
    padding: 3.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50.0rem;
    margin: 0 auto; 
  }

  .RRform {
    height: 20.0rem;
    width: 30.0rem;
    background-color:  rgb(5, 164, 161);
    border-radius: 6.0rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.0rem;
    padding: 3.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50.0rem;
    margin: 0 auto; 
  }

  .TAform {
    height: 37.0rem;
    width: 30.0rem;
    background-color:  rgb(5, 164, 161);
    border-radius: 6.0rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.0rem;
    padding: 3.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50.0rem;
    margin: 0 auto; 
  }

  .USform {
    height: 37.0rem;
    width: 30.0rem;
    background-color:  rgb(5, 164, 161);
    border-radius: 6.0rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.0rem;
    padding: 3.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50.0rem;
    margin: 0 auto; 
  }

  .DCform {
    height: 37.0rem;
    width: 30.0rem;
    background-color:  rgb(5, 164, 161);
    border-radius: 6.0rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.0rem;
    padding: 3.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50.0rem;
    margin: 0 auto; 
  }

  .MDform {
    height: 37.0rem;
    width: 30.0rem;
    background-color:  rgb(5, 164, 161);
    border-radius: 6.0rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.0rem;
    padding: 3.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50.0rem;
    margin: 0 auto; 
  }

  .ANform {
    height: 45.0rem;
    width: 30.0rem;
    background-color:  rgb(254, 245, 1);
    border-radius: 6.0rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.0rem;
    padding: 3.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50.0rem;
    margin: 0 auto; 
  }

  .FMRform {
    height: 40.0rem;
    width: 30.0rem;
    background-color:  rgb(221, 7, 7);
    border-radius: 6.0rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 3.0rem;
    padding: 3.0rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 50.0rem;
    margin: 0 auto; 
  }