* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url(./Resources/BlueBack.png);
  -webkit-backgrount-size: cover;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
  background-position: center center fixed;  
  /* background-color: rgb(12, 59, 79);
  margin: 0; */
}
h1,
h2,
h3,
h4,
ul,
li {
  font-family: sans-serif;
}

p {
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  text-align: center;
  font-family: Helvetica;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

h4 {
  font-size: 1rem;
  text-align: center;
}

.formtext {
  font-size: 6rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.header li {
  display: inline;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.header {
  max-width: none;
  /* height: 90rem; */
  background-color: #002a40;
  padding: 0rem;
  margin-top: 0.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  opacity: 1;
}
.particles {
  box-sizing: border-box;
  position: "absolute";
  top: 0;
  left: 0;
  width: "100%";
  height: "100%";
}
.header li a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 4rem;
  padding: 2rem;
  margin-right: 1rem;
}

.content h2 {
  padding: 0;
  margin: 0;
  margin-right: 1rem;
}

.content li {
  margin-bottom: 1rem;
}

.active {
  background-color: #5da2e9;
}

.formFont {
  font-size: large;
  color: rgb(255, 255, 255);
  font-family: Tahoma, Geneva, sans-serif;
}

.banner {
  height: 1rem;
  max-width: 90rem;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  flex-direction: row;
  justify-content: flex-start;
}

.bannerAdmin {
  height: 5.0rem;
  width: 37.0rem;
  background-color:   rgb(255, 255, 255);
  color: rgb(5, 225, 221);
  border-radius: 1.0rem;
  font-size: 1.4rem;
  padding: 1.0rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.home {
  height: 40rem;
  width: 75rem;
  color: white;
  background-color: #002a40;
  border-radius: 1rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.NRform {
  height: 49rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.MPAform {
  height: 32.5rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.CPAform {
  height: 40rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.EAform {
  height: 25.5rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.VRform {
  height: 40rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.RRform {
  height: 25.5rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.TAform {
  height: 56rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.MRform {
  height: 40rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.DCform {
  height: 40rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.downSizeLogo{
  /* object-fit: cover; */
  width: 23.5rem;
  height: 4.7rem;
}

.MDform {
  height: 47rem;
  width: 60rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.ANform {
  height: 44.5rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.FMRform {
  height: 47.5rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.MEform {
  height: 44rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -2rem;
  opacity: 0.96;
}

.headerButtons {
  margin-left: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
  max-height: 3rem;
  margin-top: -21.75rem;
}

.BannerForm {
  height: 5rem;
  max-width: none;
  background-color: #002a40;
  justify-content: center;
  display: flex;
  opacity: 0.95;
}

.imageForm {
  justify-content: flex-start;
  margin-right: auto;
  display: flex;
  padding-left: 2rem;
  object-fit: cover;
}


.ACForm{
  height: 28.5rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.AUForm{
  height: 37.5rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.SCForm{
  height: 36rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.OForm{
  height: 40rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.RFMCForm{
  height: 30rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.GACDForm{
  height: 19rem;
  width: 59rem;
  background-color: #005480;
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2rem;
  opacity: 0.96;
}

.RRresults {
  height: flex;
  width: 59rem;
  color: white;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 1.3rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.GACDresults {
  height: 13rem;
  width: 59rem;
  color: white;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 1.3rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.RRresultserr {
  height: 3rem;
  width: 59rem;
  color: white;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 1.4rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.Results {
  height: 5rem;
  width: 59rem;
  color: white;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 2.2rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.errorResults {
  height: 7rem;
  width: 50rem;
  background-color: #002a40;
  color: white;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

.VRHresults {
  height: 5rem;
  width: 59rem;
  color: white;
  background-color: #002a40;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 1.4rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.TWResults{
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  flex-direction: column;
  font-weight: bold;
}

.btn {
  font-size: 1.5rem;
  height: 3rem;
  width: 13rem;
  align-items: center;
  margin-top: 22rem;
  border-radius: 1rem;
}

.btn3 {
  font-size: 1.5rem;
  height: 3rem;
  width: 12rem;
  align-items: center;
  border-radius: 1rem;
  margin-top: 20rem;
}

.btn2 {
  font-size: 1.5rem;
  height: 3rem;
  width: 30rem;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 20;
}

.buttonDisplayHome {
  margin-left: 48rem;
  margin-top: 0.5rem;
}

.buttonDisplay {
  margin-left: 42rem;
  margin-top: -21.5rem;
}

.buttonGroupDisplay {
  height: 5rem;
  margin-left: 30rem;
  margin-top: -20rem;
}

.buttonDisplay2 {
  margin-top: -21rem;
  margin-left: 136rem;
}

.checkBox {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 3rem;
  font-size: large;
  height: 1rem;
  width: 10rem;
}

.ownerButtonDisplay {
  margin-left: 40rem;
  margin-top: 0.5rem;
}
.ownerButtonDisplay2 {
  margin-left: 40rem;
  margin-top: -1rem;
}

.ownerButtonDisplay3 {
  margin-left: 21rem;
  margin-top: 0.5rem;
}
.ownerButtonDisplay4 {
  margin-left: 21rem;
  margin-top: auto;
}

.ownerButtonDisplay5 {
  margin-left: 40rem;
  margin-top: 0rem;
}

.Headertext {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: Tahoma, Geneva, sans-serif;
}

.LittleTextModify {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: small;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: 39rem;
}


.LittleTextTransfer {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: small;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: -1.5rem;
}


.LittleTextNewRecord {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: small;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: -1.5rem;
}


.userData {
  display: flex;
  margin-left: auto;
  background-color: #002a40;
  width: 70rem;
  border-radius: 1rem 0rem 0rem 0rem;
  height: 3rem;
  margin-top: auto;
  justify-content: center;
}

.iframe
{
    display: none;
}
