
* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  max-width: 320px;
  margin: 0 auto;
}

input {
  width: 100%;
  font-size: 1em;
  padding: 0.5em 0.75em;
  margin-bottom: 1em;
}

button {
  font-size: 1em;
  width: 100%;
}

pre {
  text-align: left;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 1em;
  background: #f8f8f8;
}
